
<section id="contact">
    <div class="section-content">
        <h1 class="section-header">On reste <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> En Contacte</span></h1>
        <h3>Merci pour l'interet que vous portez a notre site</h3>
    </div>
    <div class="contact-section">
    <div class="container">
        <form action="mailto:mikhail09other@gmail.com" method="POST" enctype="text/plain">
            <div class="col-md-6 form-line">
                  <div class="form-group">
                      <label for="exampleInputUsername">Votre nom</label>
                    <input type="text" class="form-control" id="" placeholder=" Enter Name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail">Votre adresse e-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
                  </div>	
                  <div class="form-group">
                    <label for="telephone">Numero de telephone</label>
                    <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for ="description"> Message</label>
                       <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                  </div>
                  <div>
                      <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Envoyez un message</button>
                  </div>   
            </div>
        </form>
    </div>










<!-- <div class="container">
    <h2>User Settings</h2>
    <form #form1 = "ngForm" (ngSubmit) = "onSubmit(form1)">

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" [(ngModel)]="user.name" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" />
      </div>

      <div class="form-check form-group">
        <input class="form-check-input" type="checkbox"
                id="emailOffers" name="emailOffers" [(ngModel)]="user.emailOffers">
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
      </div>

      <p>User Interface Style</p>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" 
                 id="lightInterface" value="light" checked [(ngModel)]="user.interfaceStyle">
          <label class="form-check-label" for="lightInterface">
            Light
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" 
                 id="mediumInterface" value="medium" [(ngModel)]="user.interfaceStyle">
          <label class="form-check-label" for="mediumInterface">
            Medium
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" 
                  id="darkInterface" value="dark" [(ngModel)]="user.interfaceStyle">
          <label class="form-check-label" for="darkInterface">
            Dark
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="subscriptionType">Subscription Type</label>
        <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="user.subscriptionType">
          <option>Monthly</option>
          <option>Annual</option>
          <option>Lifetime</option>
        </select>
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" class="form-control" 
                  rows="3" [(ngModel)]="user.notes"></textarea>
      </div>      

      <button class="btn btn-primary">Send</button>
    </form>
  </div>


  <hr>  
  <h3>{{ form1.value | json }}</h3>-->












