<div class="page-wrap d-flex flex-row align-items-center main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="display-3 d-block">Oops !!!</div>
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead text-danger font-weight-bold">The page you are looking for was not found.</div>
                <a [routerLink] = "['/home']" class="btn btn-link">Retour à la page d'accueil</a>
            </div>
        </div>
    </div>
</div>
